<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         bootstrap="./bootstrap.php"
         verbose="true">
    <testsuite name="Client for SmartCall's Restful Proxy interface Test Suite">
        <directory>./</directory>
    </testsuite>
    <logging>
        <log type="coverage-html" target="../build/coverage"/>
    </logging>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">../src/</directory>
        </whitelist>
    </filter>
    <listeners>
        <listener class="VCR\PHPUnit\TestListener\VCRTestListener" file="vendor/php-vcr/phpunit-testlistener-vcr/src/VCRTestListener.php" />
    </listeners>
</phpunit>
